
= form_for @invoice, :url => invoice_path(@invoice), :method => :put do |f|
  = render :partial => 'invoices/invoice_form', :locals=> {:invoice_f => f}

  %div.content_buttons
    = f.submit

= link_to t('back'), invoices_path
