
= form_for @customer, :url => customer_path(@customer), :method => :put do |f|
  = render :partial => 'customers/customer_form', :locals=> {:customer_f => f}

  %div.content_buttons
    = f.submit

= link_to t('back'), customers_path
